{% load static %} 
{% load humanize %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Busca </title>
    <link rel="icon" href="{% static 'img/blog.png' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/busca.css' %}" />

    <link
    href="{% static 'fontawesome-free-5.13.0-web/css/fontawesome.css' %}"
    rel="stylesheet"
    />
    <link
      href="{% static 'fontawesome-free-5.13.0-web/css/brands.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'fontawesome-free-5.13.0-web/css/solid.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'parciais/menu_base.html' %}
    <main>
      <section class="container2">
        <article class="flex-container">
          {% if posts %} 
            {% for post in posts %}
                <div class="cards">
                  {% if post.imagem_post %}
                  <img src="{{ post.imagem_post.url }}" alt="My image" />
                  {% endif %}
                  <a href="{% url 'post_detalhe' post.id %}"
                    ><h3>{{ post.titulo_post }}</h3></a
                  >
                  <p>{{post.resumo_post}}</p>
                  <span
                    >{{post.data_post|naturalday}} | {{ post.comentarios_set.count }}
                    | {{ post.categoria_post }}</span
                  ><br />
                  <a href="{% url 'post_detalhe' post.id %}" class="button"
                    >Ler mais...</a
                  >
                </div>
            {% endfor %} 
          {% else %}
            <div class="block-text">
              <small>Nem um post  "{{request.GET.termo}}" encontrado!</small>
            </div>
          {% endif %}
        </article>
      </section>
      {% if posts %}
        <ul class="pagination">
          {% for paginas in posts.paginator.page_range %} 
            {% if posts.number == paginas %}
              <li>
                <a
                  class="active"
                  href="?p={{ paginas }}&termo={{ request.GET.termo }}"
                  >{{ paginas }}</a
                >
              </li>

              {% else %}
              <li>
                <a href="?p={{ paginas }}&termo={{ request.GET.termo }}"
                  >{{ paginas }}</a
                >
              </li>

            {% endif %} 
          {% endfor %}
        </ul>
      {% endif %}
    </main>

    <footer>
      <p>&copy; | Desenvolvido por Samio Santos</p>
    </footer>

    <script src="{% static 'script/script.js' %}"></script>
  </body>
</html>
