{% load static %} 
{% load humanize %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categorias</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    <link
      href="{% static 'fontawesome-free-5.13.0-web/css/fontawesome.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'fontawesome-free-5.13.0-web/css/brands.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'fontawesome-free-5.13.0-web/css/solid.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    {% if not user.is_authenticated %}
    <div class="menu-block">
      <label for="check">
        <img id="menu" src="{% static 'img/menu.png' %}" alt="Icone menu" />
      </label>
    </div>

    <input type="checkbox" id="check" />
    {% endif %}
    <header>
      <div class="container">
        <a href="{% url 'index' %}">
          <h1>Blog Samio</h1>
        </a>
      </div>
      {% if not user.is_authenticated %}
      <nav id="container-dropdown">
        <ul>
          <li><a href="{% url 'post_categoria' 'python' %}">Python</a></li>
          <li><a href="{% url 'post_categoria' 'django' %}">Django</a></li>
          <li>
            <a href="{% url 'post_categoria' 'tecnologia' %}">Tecnologia</a>
          </li>
          <li><a href="{% url 'post_categoria' 'sistemas' %}">Sistemas</a></li>

          <div class="form-block">
            <form class="box-form" action="{% url 'busca_post' %}">
              <i class="fas fa-search"></i>
              <input
                id="pesquisa"
                class="pesquisa"
                name="termo"
                value="{{ request.GET.termo }}"
                type="search"
                minlength="3"
                style="width: 100"
                placeholder="Pesquisar"
              />
            </form>
          </div>

          <li id="login"><a href="{% url 'login' %}">Login</a></li>
          <li id="register"><a href="{% url 'register' %}">Cadastrar</a></li>
        </ul>
      </nav>
      {% else %}
      <div class="form-block">
        <form class="box-form" action="{% url 'busca_post' %}">
          <i class="fas fa-search"></i>
          <input
            id="pesquisa"
            class="pesquisa"
            name="termo"
            value="{{ request.GET.termo }}"
            type="search"
            minlength="3"
            style="width: 100"
            placeholder="Pesquisar"
          />
        </form>
      </div>

      <div class="container-img">
        {% if user.imagem %}
        <img
          class="dropbtn-img"
          src="{{ user.imagem.url }}"
          alt="foto-perfil"
          onclick="myFunction()"
        />
        <img
          class="dropbtn-seta"
          src="{% static 'img/seta-suspensa.png' %}"
          alt="seta-menu"
          onclick="myFunction()"
        />
        {% else %}
        <img
          class="dropbtn-img"
          src="{% static 'img/usuario.png' %}"
          alt="foto-perfil"
          onclick="myFunction()"
        />
        <img
          class="dropbtn-seta"
          src="{% static 'img/seta-suspensa.png' %}"
          alt="seta-menu"
          onclick="myFunction()"
        />
        {% endif %}
        <div class="dropdown-content" id="myDropdown">
          <div class="dropdown-category">
            <h3>Categorias</h3>
            <a href="{% url 'post_categoria' 'python' %}">Python</a>
            <a href="{% url 'post_categoria' 'django' %}">Django</a>
            <a href="{% url 'post_categoria' 'tecnologia' %}">Tecnologia</a>
            <a href="{% url 'post_categoria' 'sistemas' %}">Sistemas</a>
          </div>

          <div class="dropdown-profile">
            <h3>Perfil</h3>
            <a href="{% url 'perfil_user' user.id %}">
              Perfil
              <i class="fas fa-user-circle"></i>
            </a>
          </div>

          <div>
            <a href="{% url 'logout' %}">
              Logout
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
    </header>
    <main>
      <section class="container2">
        <article class="flex-container">
          {% for post in posts %} 
            {% if post.publicado_post %}
              <div class="cards">
                {% if post.imagem_post %}
                  <img src="{{ post.imagem_post.url }}" alt="My image" />
                {% endif %}
                <a href="{% url 'post_detalhe' post.id %}"
                  ><h3>{{ post.titulo_post }}</h3></a
                >
                <p>{{post.resumo_post}}</p>
                <span
                  >{{post.data_post|naturalday}} | {{ post.comentarios_set.count }}
                  | {{ post.categoria_post }}</span
                ><br />
                <a href="{% url 'post_detalhe' post.id %}" class="button"
                  >Ler mais...</a
                >
              </div>
            {% endif %}
          {% endfor %}
        </article>
      </section>
      <ul class="pagination">
        {% for paginas in posts.paginator.page_range %} 
          {% if posts.number == paginas %}
            <li>
              <a
                class="active"
                href="?p={{ paginas }}&termo={{ request.GET.termo }}"
                >{{ paginas }}</a
              >
            </li>

          {% else %}
            <li>
              <a href="?p={{ paginas }}&termo={{ request.GET.termo }}"
                >{{ paginas }}</a
              >
            </li>

          {% endif %} 
        {% endfor %}
      </ul>
    </main>

    <footer>
      <p>&copy; | Desenvolvido por Samio Santos</p>
    </footer>

    <script src="{% static 'script/script.js' %}"></script>
  </body>
</html>
