{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/post.css' %}" />
  </head>
  <body>
    <div class="menu-block">
      <label for="check">
        <img id="menu" src="{% static 'img/menu.png' %}" alt="Icone menu" />
      </label>
    </div>

    <input type="checkbox" id="check" />
    <header>
      <div class="container">
        <a href="{% url 'index' %}">
          <h1>Blog Samio</h1>
        </a>
      </div>

      <nav id="container-dropdown">
        <ul>
          <li><a href="{% url 'post_categoria' 'python' %}">Python</a></li>
          <li><a href="{% url 'post_categoria' 'django' %}">Django</a></li>
          <li><a href="{% url 'post_categoria' 'tecnologia' %}">Tecnologia</a></li>
          <li><a href="{% url 'post_categoria' 'sistemas' %}">Sistemas</a></li>

          <form class="box-form" action="{% url 'busca_post' %}">
            <input
              id="label"
              class="pesquisa"
              name="termo"
              value="{{ request.GET.termo }}"
              type="search"
              placeholder="Pesquisar"
            />
          </form>
        </ul>
      </nav>
    </header>
    <main>
      <section class="box-container">
        <div class="cards">
          <h2>{{ post.titulo_post }}</h2>
          <h5>{{ post.resumo_post }}</h5>
          <small>{{ post.autor_post }} | {{ post.data_post }} | {{post.categoria_post }}</small>
          {% if post.imagem_post %}
            <img src="{{ post.imagem_post.url }}" alt="{{ post.titulo_post }}" />
          {% endif %}

          <div>{{ post.conteudo_post|safe }}</div>
        </div>
        {% if comments %}
        <div class="comments">
          <h1>Comentários ({{ comments.count}})</h1>
          {% for comment in comments %}
          <h4>{{comment.nome}} disse:</h4>
          <small>{{comment.data_comentario|naturalday}}</small>
          <p>
            {{comment.comentario}}
          </p>
          {% endfor %}
        </div>
        {% endif %}

        <div class="contact">
          <h1>Deixe um comentário</h1>
          {% if messages %}
            {% for message in messages %}
              <div class="{{ message.tags }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <form action="#enviar_comentario" method="POST">
            {% csrf_token %}
            <div class="box-input">
              <label for="{{ form.nome.id_for_label }}">Nome:</label>
              {{ form.nome }}
            </div>

            <div class="box-input">
              <label for="{{ form.email.id_for_label }}">E-mail:</label>
              {{ form.email}}
            </div>

            <div class="box-input">
              <label for="{{ form.comentario.id_for_label }}">Comentário:</label>
              {{form.comentario}}
            </div>

            <button type="submit" title="Enviar Formulário">Enviar</button>
          </form>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; | Desenvolvido por Samio Santos</p>
    </footer>
  </body>
</html>
