{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/post.css' %}" />

    <link
      href="{% static 'fontawesome-free-5.13.0-web/css/fontawesome.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'fontawesome-free-5.13.0-web/css/brands.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'fontawesome-free-5.13.0-web/css/solid.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    {% if not user.is_authenticated %}
    <div class="menu-block">
      <label for="check">
        <img id="menu" src="{% static 'img/menu.png' %}" alt="Icone menu" />
      </label>
    </div>

    <input type="checkbox" id="check" />
    {% endif %}
    <header>
      <div class="container">
        <a href="{% url 'index' %}">
          <h1>Blog Samio</h1>
        </a>
      </div>
      {% if not user.is_authenticated %}
        <nav id="container-dropdown">
          <ul>
            <li><a href="{% url 'post_categoria' 'python' %}">Python</a></li>
            <li><a href="{% url 'post_categoria' 'django' %}">Django</a></li>
            <li><a href="{% url 'post_categoria' 'tecnologia' %}">Tecnologia</a></li>
            <li><a href="{% url 'post_categoria' 'sistemas' %}">Sistemas</a></li>

            <div class="form-block">
              <form class="box-form" action="{% url 'busca_post' %}">
                <i class="fas fa-search"></i>
                <input
                  id="pesquisa"
                  class="pesquisa"
                  name="termo"
                  value="{{ request.GET.termo }}"
                  type="search"
                  minlength="3"
                  style="width: 100;"
                  placeholder="Pesquisar"
                />
              </form>
            </div>
      
            <li id="login"><a href="{% url 'login' %}">Login</a></li>
            <li id="register"><a href="{% url 'register' %}">Cadastrar</a></li>
          </ul>
        </nav>
      {% else %}
        <div class="form-block">
          <form class="box-form" action="{% url 'busca_post' %}">
            <i class="fas fa-search"></i>
            <input
            id="pesquisa"
            class="pesquisa"
            name="termo"
            value="{{ request.GET.termo }}"
            type="search"
            minlength="3"
            style="width: 100;"
            placeholder="Pesquisar"
            />
          </form>
        </div>
        
        <div class="container-img">
          {% if user.imagem %}
            <img class="img" src="{{ user.imagem.url }}" alt="foto-perfil" />
          {% else %}
            <img
              class="img"
              src="{% static 'img/usuario.png' %}"
              alt="foto-perfil"
            />
          {% endif %}
          <div class="dropdown-content">
            <div class="dropdown-category">
              <h3>Categorias</h3>
              <a href="{% url 'post_categoria' 'python' %}">Python</a>
              <a href="{% url 'post_categoria' 'django' %}">Django</a>
              <a href="{% url 'post_categoria' 'tecnologia' %}">Tecnologia</a>
              <a href="{% url 'post_categoria' 'sistemas' %}">Sistemas</a>
            </div>

            <div class="dropdown-profile">
              <h3>Perfil</h3>
              <a href="#">
                Perfil
                <i class="fas fa-user-circle"></i>
              </a>
            </div>

            <div>
              <a href="{% url 'logout' %}">
                Logout
                <i class="fas fa-sign-out-alt"></i>
              </a>
            </div>
          </div>
          </div>
      {% endif %}
    </header>
    <main>
      <section class="box-container">
        <div class="cards">
        {% if messages %}
          {% for message in messages %}
            <div class="{{ message.tags }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

          <h2>{{ post.titulo_post }}</h2>
          <h5>{{ post.resumo_post }}</h5>
          <small>{{ post.autor_post }} | {{ post.data_post }} | {{post.categoria_post }}</small>
          {% if post.imagem_post %}
            <img src="{{ post.imagem_post.url }}" alt="{{ post.titulo_post }}" />
          {% endif %}

          <div>{{ post.conteudo_post|safe }}</div>
        </div>
        {% if comments %}
        <div class="comments">
          <h1>Comentários ({{ comments.count}})</h1>
          {% for comment in comments %}
            <div class="item">
              <h4>{{comment.nome}} disse:</h4>
              <small>{{comment.data_comentario|naturalday}}</small>
              <p>
                {{comment.comentario}}
              </p>
              {% if user.is_authenticated %}
              <form action="#" method="POST">
                <div>
                  <textarea id="item-text" cols="30" rows="10" placeholder="Responder {{comment.nome}}"></textarea>
                </div>
                <button type="submit" id="button-comments">Enviar</button>
              </form>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        {% endif %}

        <div class="contact">
          <h1>Deixe um comentário</h1>
          <form action="#enviar_comentario" method="POST">
            {% csrf_token %}
            <div class="box-input">
              <label for="{{ form.nome.id_for_label }}">Nome:</label>
              {{ form.nome }}
            </div>

            <div class="box-input">
              <label for="{{ form.email.id_for_label }}">E-mail:</label>
              {{ form.email}}
            </div>

            <div class="box-input">
              <label for="{{ form.comentario.id_for_label }}">Comentário:</label>
              {{form.comentario}}
            </div>

            <button type="submit" title="Enviar Formulário">Enviar</button>
          </form>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; | Desenvolvido por Samio Santos</p>
    </footer>
  </body>
</html>
