{% load static %}
{% load humanize %}
{% load filters %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="icon" href="{% static 'img/blog.png' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/post.css' %}" />

    <link
      href="{% static 'fontawesome-free-5.13.0-web/css/fontawesome.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'fontawesome-free-5.13.0-web/css/brands.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'fontawesome-free-5.13.0-web/css/solid.css' %}"
      rel="stylesheet"
    />

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    {% include 'parciais/menu_base.html' %}
    <main>
      <section class="box-container">
        {% if messages %}
          {% for message in messages %}
            <div class="{{ message.tags }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <div class="cards">
          <div class="cards-box">
            <h2>{{ post.titulo_post }}</h2>
            <h5>{{ post.resumo_post }}</h5>
            <small>{{ post.autor_post }} | {{ post.data_post }} | {{post.categoria_post }}</small>
            {% if post.imagem_post %}
              <img src="{{ post.imagem_post.url }}" alt="{{ post.titulo_post }}" />
            {% endif %}
            <div>{{ post.conteudo_post|safe }}</div>
          </div>
        </div>
    
        {% if comments %}
        <div class="comments">
          <h1>Comentários ({{ comments.count}})</h1>
          {% for comment in comments %}
            <div class="item">
              <input type="hidden" name="comment_id" value={{comment.id}}>

              <div class="comments-container">
                {% if comment.usuario_comentario.imagem  %}
                  <img src="{{ comment.usuario_comentario.imagem.url}}" alt="foto-perfil">
                  
                {% elif comment.usuario_comentario %}
                  <img src="{% static 'img/profile-user.png' %}" alt="foto-perfil">
                {% endif %}
                <div>
                    <strong>{{comment.nome}}</strong>
                    <span>{{comment.data_comentario|naturalday}}</span>
                </div>
              </div>
              
              <b style="font-size: 13px;">comentou:</b>
              <p>{{comment.comentario}}</p><br>

              <!-- botão para exibir ou ocultar container de resposta -->
              {% if comment.num_resp %}
                <small id="{{comment.nome}}" class="button-resp" onclick="mostraDiv('{{comment.id}}', '{{comment.nome}}', '{{comment.num_resp}}')">{{comment.num_resp|plural_resposta}}</small>
              {% endif %}

              <!-- Container para exibir respostas nos comentários -->
              <div id="{{comment.id}}" class="container-resp" style="display: none;">
                {% for obj in resp %}
                    {% if obj.resposta_comentario == comment %}
                      <div class="block-resp">
                        <div>
                          <input type="hidden" name="user_id" value={{user.id}}>
                          {% if obj.profile.imagem %}
                            <img src="{{ obj.profile.imagem.url }}" alt="foto-perfil">
                          {% else %}
                            <img src="{% static 'img/profile-user.png' %}" alt="foto-perfil">
                          {% endif %}
                          <small>{{obj.profile.first_name }} {{ obj.profile.last_name }} | {{ obj.data_resposta}}</small>
                          <p>{{ obj.resposta }}</p>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
              </div>
              
              {% if not user.is_authenticated and comment.usuario_comentario %}
                <div class="block-a">
                  <a href="{% url 'login' %}">Faça login para responder {{comment.nome}}</a>
                </div>
              {% endif %}

              {% if user.is_authenticated and comment.usuario_comentario %}
                <div class="resp">
                  <form id="resp_comment" action="#RespostaEnviada" method="POST">
                    {% csrf_token %}
                    <input id="comment_id" type="hidden" name="comment_id" value={{comment.id}}>
                    <input type="hidden" name="user_id" value={{user.id}}>
                    <div class="form-resp">
                      {{formResp.resposta}}
                    </div>
                    <button type="submit" name="submit_c_form" id="button-comments">Responder</button>
                  </form>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        {% endif %}

        {% if not user.is_authenticated %}
          <div class="contact">
            <h1>Deixe um comentário</h1>
            <form id="comment-form" action="{% url 'post_detalhe' post.id %}" method="POST">
              {% csrf_token %}
              <div class="mensagem"></div>
              <div class="box-input">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" required>
              </div>

              <div class="box-input">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" required>
              </div>

              <div class="box-input">
                <label for="body">Comentário:</label>
                <textarea id="comment-post" name="comentario" cols="30" rows="10" id="body" required></textarea>
              </div>

              <div class="g-recaptcha" data-sitekey="6Le_dXgaAAAAAGM7OgivgCcL__BlRdpVJTRhfFfj" data-callback="enableButton"></div>
              <br>

              <button class="button" type="submit" name="submit_comment" title="Marque o captcha para ativar o botão" disabled>Enviar</button>
            </form>
          </div>
          
        {% else %}
          <div class="contact">
            <h1>Deixe um comentario:</h1>
            <form id="comment-form" action="{% url 'post_detalhe' post.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="user_id" value={{user.id}}>
              <div class="box-img">
                {% if user.imagem %}
                  <img src="{{ user.imagem.url }}" alt="foto-perfil">
                {% else %}
                  <img src="{% static 'img/profile-user.png' %}" alt="foto-perfil">
                {% endif %}
                  <p>{{user.first_name}} {{user.last_name}}</p>
              </div>
              
              <div class="box-input" style="display: none;">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" value="{{user.first_name}} {{user.last_name}}" id="nome" required>
              </div>

              <div class="box-input" style="display: none;">
                <label for="email">E-mail:</label>
                <input type="email" name="email" value="{{user.email}}" id="nome" required>
              </div>
              <div class="mensagem"></div>
              <div class="box-input">
                <label for="body">Comentário:</label>
                <textarea id="comment-post" name="comentario" cols="30" rows="10" id="body" required></textarea>
              </div>
              <div class="g-recaptcha" data-sitekey="6Le_dXgaAAAAAGM7OgivgCcL__BlRdpVJTRhfFfj" data-callback="enableButton"></div>
              <br>
              <button class="button" type="submit" name="submit_comment" title="Marque o captcha para ativar o botão" disabled>Enviar</button>
            </form>
          </div>
        {% endif %}
      </section>
    </main>

    <footer>
      <p>&copy; | Desenvolvido por Samio Santos</p>
    </footer>
    
    <script src="{% static 'script/script.js' %}"></script>
  </body>
</html>
