{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password reset</title>
    <link rel="icon" href="{% static 'img/blog.png' %}" />
    <link rel="stylesheet" href="{% static 'css_accounts/password.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
  </head>
  <body>
    <header>
      <div class="container">
          <h1>Blog</h1>
          <img
            id="icone-login"
            src="{% static 'img/rotation-lock.png' %}"
            alt="cadastro"
          />
      </div>
    </header>

    <main>
      <section>
        <h3>Redefinição de senha completa</h3>

        <p>
            Sua senha foi redefinida com <b>SUCESSO</b>! Você pode prosseguir e se autenticar agora, acessando a área de login do usuário.
            <a href="{% url 'login' %}"><b>Login</b></a>
        </p>
      </section>
    </main>

    <footer>
      <p>&copy; | Desenvolvido por Samio Santos</p>
    </footer>
  </body>
</html>
