form {
  font-family: sans-serif;
}

fieldset {
  border: none;
  padding: 1rem;
  margin-top: 15vh;
}

.input-block {
  margin-bottom: 1rem;
}

.input-block label {
  font-weight: bold;
  position: relative;
  bottom: 0.5rem;
}

.input-block a {
  text-decoration: underline;
  color: black;
}

.input-block input {
  width: 80%;
  outline: none;
  padding: 9px;
  border-radius: 3px;
  border: 0.5px solid black;
}

.input-block input:focus {
  border: 1.5px solid #6d4a76;
}

.conect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conect img {
  padding-left: 1rem;
  height: 2rem;
}


form button {
  width: 25%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #6d4a76;
  color: white;
  cursor: pointer;
  transition: 1s;
  margin: 1rem;
}

form button:hover {
  background-color: #370344;
}

form i {
  position: absolute;
  left: 1rem;
  margin-top: 0.5rem;
}

form h5 {
  padding-left: 1rem;
  margin-bottom: .5rem;
  text-align: center;
}

form a {
  text-decoration: none;
}

form .input-block input[type="text"],
input[type="password"] {
  padding-left: 25px;
}

::-webkit-input-placeholder {
  color: #6d4a76;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: #6d4a76;
  color: white;
  font-size: 18px;
  text-align: center;
}

.alert-success {
  text-align: center;
  background-color: rgba(0, 128, 0, 0.233);
  color: green;
  width: 100%;
  margin-left: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.alert-error {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.233);
  color: red;
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 3rem;
}

@media (min-width: 700px) {
  .input-block, form .button-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-block label {
    margin-top: 10px;
  }
  
  .input-block input {
    width: 30%;
    margin: 5px;
  }

  form i {
    position: relative;
    left: 27px;
    margin-bottom: 10px;
  }
  
  form .button-block button {
    width: 10%;
  }

  .alert-error, .alert-success {
    width: 30%;
    position: relative;
    bottom: 50px;
    left: 30px;
    margin: 0 auto;
  }
}