* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Menu-bock */
input#check[type="checkbox"] {
  display: none;
}

.menu-block label,
#check {
  position: absolute;
  right: 0;
  top: 0;
}

.menu-block label {
  padding: 15px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  position: fixed;
}

img#menu {
  width: 2rem;
}

/*Menu */
header {
  width: 100%;
  height: 4rem;
  font-family: sans-serif;
  background-color: #6d4a76;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.container h1 {
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1.29rem;
}

.container #icone-login {
  position: absolute;
  right: 0;
  top: 1rem;
  height: 2.5rem;
  margin-right: 2rem;
}

.container a {
  color: white;
  text-decoration: none;
}

#container-dropdown {
  display: none;
  font-size: 17px;
  width: 100%;
  margin-left: 1rem;
}

#container-dropdown ul {
  margin-top: 1rem;
}

#container-dropdown li {
  margin-bottom: 1rem;
  list-style: none;
  cursor: pointer;
}

#container-dropdown li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#container-dropdown li a:hover {
  color: whitesmoke;
}

/* Menu com usuário logado */

.container-img {
  cursor: pointer;
  margin-right: 3rem;
  font-family: sans-serif;
  position: relative;
  margin-top: .5rem;
}

.container-img .search-img {
  display: none;
}

.container-img #count-notification {
  position: relative;
  text-align: center;
  border-radius: 20%;
  font-size: 10px;
  padding: 3px;
  bottom: 1.5rem;
  left: 1rem;
  color: white;
  font-weight: bolder;
  background-color: red;
}
.container-img .notification {
  margin-right: .5rem;
  height: 1.7rem;
}

.dropbtn-img {
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: fill;
}

.dropbtn-seta {
  height: 1rem;
  position: absolute;
  margin-left: 0.5rem;
  top: 1.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -2rem;
  background-color: #6d4a76;
  min-width: 160px;
  margin-top: 9px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  font-size: 13px;
  text-decoration: none;
  display: block;
}

.dropdown-content a {
  display: flex;
  justify-content: space-between;
}

.dropdown-content a:hover {
  background-color: rgba(128, 128, 128, 0.158);
}

.show {
  display: block;
}

.dropdown-content h3 {
  padding: 12px 16px;
  font-size: 16px;
  color: white;
}

.dropdown-content .dropdown-category,
.dropdown-profile {
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}

/* Seção de estilo para as notificações */
.dropdown-notification {
  display: none;
  position: absolute;
  right: -2rem;
  background-color: #6d4a76;
  width: 300px;
  border-radius: 2%;
  max-height: 333px;
  margin-top: 9px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow-y: auto;
  box-sizing: border-box;
}

.dropdown-notification h1 {
  font-size: 25px;
  padding: 12px 16px;
  color: black;
  margin-bottom: 20px;
}

/* Personalização do scroll do container .dropdown-notification */
/* width */
.dropdown-notification::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.dropdown-notification::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.dropdown-notification::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.dropdown-notification::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown-notification a {
  color: whitesmoke;
  font-size: 13px;
  text-decoration: none;

  display: grid;
  grid-template-columns: 0.7fr 2.5fr 0.4fr;
}

.dropdown-notification a:hover {
  background-color: rgba(128, 128, 128, 0.158);
}

.box-notification a .box {
  margin-left: 10px;
  margin-top: 10px;
}

.box-notification a .box img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: fill;
}

.box-notification a .box1 {
  color: white;
  font-family: sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
  margin-bottom: 10px;
}

.box-notification a .box1 span {
  margin-left: 10px;
}

.box-notification a .box1 p,
.box-notification a .box1 small {
  margin-left: 10px;
}

.box-notification a .box1 p {
  font-weight: bolder;
  font-size: 13px;
}

.box-notification a .box1 small {
  font-size: 10px;
}

.box-notification a .box2 {
  margin-right: 10px;
}

.box-notification a .box2 img {
  width: 3rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 5px;
}

.show-notification {
  display: block;
}

.dropdown-notification h3 {
  padding: 12px 16px;
  font-size: 20px;
  color: white;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.5);
}

.dropdown-notification .delete {
  padding: 9px;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.dropdown-notification .delete img {
  position: relative;
  float: right;
  height: 15px;
}


/* Campo de pesquisa, login e cadastro */

.form-block {
  width: 30%;
  margin-top: 1rem;
}

.form-block .pesquisa {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}

form i {
  position: absolute;
  margin-top: 0.6rem;
  margin-left: 0.3rem;
}

header .form-block .pesquisa[type="search"] {
  padding-left: 30px;
}

#container-dropdown #login {
  margin-top: 2.5rem;
}

#container-dropdown #login a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  outline: none;
}
#container-dropdown #register a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  outline: none;
}

input[type="checkbox"]:checked ~ header nav#container-dropdown,
input[type="checkbox"]:checked ~ header {
  height: 345px;
  display: inline-block;
}

/* Rodape */

footer {
  position: relative;
  bottom: 0;
  padding: 23px;
  width: 100%;
  background-color: #6d4a76;
  color: white;
  font-size: 18px;
  text-align: center;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
  .container-img .search-img {
    display: inline-block;
    margin-right: .5rem;
    height: 1.6rem;
  }
  
  .container h1 {
    width: 60px;
    word-wrap: break-word;
    font-size: 17px;
  }

  .show-search {
    display: inline-block;
  }
}

@media (min-width: 1100px) {
  input[type="checkbox"]:checked ~ header nav#container-dropdown,
  input[type="checkbox"]:checked ~ header {
    height: initial;
  }

  .container h1 {
    min-width: 150px;
  }

  img#menu {
    display: none;
  }

  #container-dropdown {
    display: block;
    color: rgba(255, 255, 255, 0.5);
  }

  #container-dropdown ul {
    position: absolute;
    list-style: none;
    right: 0;
    top: 0;
  }

  #container-dropdown ul,
  .box-form {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
  }

  #container-dropdown li {
    display: inline-block;
    padding: 5px;
    padding-right: 30px;
    margin: 2px;
  }

  .form-block {
    margin-top: 1rem;
  }

  form i {
    position: relative;
    left: 20px;
    color: black;
  }

  #container-dropdown #login {
    margin-left: 50px;
    margin-top: initial;
  }

  #container-dropdown #register a {
    border: 1px solid white;
    padding: 7px;
  }

  #container-dropdown #register a:hover {
    background-color: rgba(255, 255, 255, 0.253);
  }
}
