* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Menu-bock */
input#check[type="checkbox"] {
  display: none;
}

.menu-block label,
#check {
  position: absolute;
  right: 0;
  top: 0;
}

.menu-block label {
  padding: 15px;
  position: absolute;
  cursor: pointer;
}

img#menu {
  width: 2rem;
}

/*Menu */
header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  background-color: #6d4a76;
}

.container h1 {
  font-size: 25px;
  margin-left: 1rem;
}

.container #icone-login {
  position: absolute;
  right: 0;
  top: 1rem;
  height: 2.5rem;
  margin-right: 2rem;
}

.container a {
  color: white;
  text-decoration: none;
}

#container-dropdown {
  display: none;
  font-size: 17px;
  width: 100%;
  margin-left: 1rem;
}

#container-dropdown ul {
  margin-top: 1rem;
}

#container-dropdown li {
  margin-bottom: 1rem;
  list-style: none;
  cursor: pointer;
}

#container-dropdown li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#container-dropdown li a:hover {
  color: whitesmoke;
}

/* Menu com usuário logado */

.container-img {
  width: 10%;
  padding: 6px;
  cursor: pointer;
  margin-right: 2.5rem;
  font-family: sans-serif;
}

.dropbtn-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: fill;
}

.dropbtn-seta {
  height: 1rem;
  position: absolute;
  left: 3.2rem;
  bottom: 1rem;
}

.container-img {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -2rem;
  background-color: #6d4a76;
  min-width: 160px;
  margin-top: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  font-size: 13px;
  text-decoration: none;
  display: block;
}

.dropdown-content a {
  display: flex;
  justify-content: space-between;
}

.dropdown-content a:hover {
  background-color: rgba(128, 128, 128, 0.158);
}

.show {
  display: block;
}

.dropdown-content h3 {
  padding: 12px 16px;
  font-size: 16px;
  color: white;
}

.dropdown-content .dropdown-category,
.dropdown-profile {
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}

/* Campo de pesquisa, login e cadastro */

.form-block {
  width: 30%;
}

header .form-block .pesquisa {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}

form i {
  position: absolute;
  margin-top: 0.6rem;
  margin-left: 0.3rem;
}

header .form-block .pesquisa[type="search"] {
  padding-left: 30px;
}

#container-dropdown #login {
  margin-top: 2.5rem;
}

#container-dropdown #login a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  outline: none;
}
#container-dropdown #register a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  outline: none;
}

input[type="checkbox"]:checked ~ header nav#container-dropdown,
input[type="checkbox"]:checked ~ header {
  height: 345px;
  display: inline-block;
}

/* Rodape */

footer {
  position: relative;
  bottom: 0;
  padding: 23px;
  width: 100%;
  background-color: #6d4a76;
  color: white;
  font-size: 18px;
  text-align: center;
}

@media (min-width: 1100px) {
  input[type="checkbox"]:checked ~ header nav#container-dropdown,
  input[type="checkbox"]:checked ~ header {
    height: initial;
  }

  .container h1 {
    min-width: 150px;
  }

  img#menu {
    display: none;
  }

  #container-dropdown {
    display: block;
    color: rgba(255, 255, 255, 0.5);
  }

  #container-dropdown ul {
    position: absolute;
    list-style: none;
    right: 0;
    top: 0;
  }

  #container-dropdown ul,
  .box-form {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
  }

  #container-dropdown li {
    display: inline-block;
    padding: 5px;
    padding-right: 30px;
    margin: 2px;
  }

  form i {
    position: relative;
    left: 20px;
    color: black;
  }

  #container-dropdown #login {
    margin-left: 50px;
    margin-top: initial;
  }

  #container-dropdown #register a {
    border: 1px solid white;
    padding: 7px;
  }

  #container-dropdown #register a:hover {
    background-color: rgba(255, 255, 255, 0.253);
  }
}
